@use '../1-base/variables'

@mixin center-content
  max-width: variables.$container-width
  margin: 0 auto
  display: flex
  justify-content: space-between

@mixin header-icon
  position: relative
  display: flex
  flex-direction: column
  text-align: center
  margin-left: 2.5rem

  .qty
    position: absolute
    top: -10px
    right: 2px
    background-color: variables.$primary-color
    height: 18px
    width: 18px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

  i
    margin-bottom: .2rem
  
  a:hover
    color: variables.$primary-color

@mixin rounded-input
  height: 40px
  border-top-left-radius: 20px
  border-bottom-left-radius: 20px
  padding-left: 25px