@use '../1-base/variables'
@use '../1-base/base-mixins'
@use 'layouts-mixins'

.newsletter-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 3rem
  border-top: 2px solid variables.$section-bg-color

  @include base-mixins.mobile
    text-align: center

  h2
    font-size: 2rem
    color: variables.$dark-color
    margin-bottom: 2rem

    span
      font-size: 2rem
      font-weight: bold
      text-transform: uppercase

  form
    display: flex
    margin-bottom: 3rem

    @include base-mixins.mobile
      width: 100%

    input[type="email"]
      border: 1px solid variables.$section-bg-color
      @include layouts-mixins.rounded-input

      @include base-mixins.mobile
        width: 100%

  .social-media

    i
      padding: 12px
      margin: 5px
      border: 1px solid variables.$section-bg-color
      cursor: pointer
      color: variables.$dark-color
      transition: .4s

      &:hover
        color: variables.$primary-color
        background-color: variables.$section-bg-color