// Este comentário não vai aparecer
  Continuação do comentário
  Mais uma linha
//
/* Este comentário estará no CSS
  Continuando
  o
  Meu
  Comentário
  #{100 + 20}

/*! Este comentário tb será incluso
$bg-color: #DDD
$title-background: #111
$title-color: #F1f1f1

.container
  background: $bg-color
  padding: 20px

  #title
    background-color: $title-background
    color: $title-color
    padding: 15px
    text-align: center

.container-bottom
  background-color: #DDD
  text-align: center
  padding: 50px